USE [master]
GO
/****** Object:  Database [SmartTicketingDB]    Script Date: 02/04/2026 1:59:18 CH ******/
CREATE DATABASE [SmartTicketingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartTicketingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTicketingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartTicketingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartTicketingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartTicketingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartTicketingDB]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 02/04/2026 1:59:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteID] [int] IDENTITY(1,1) NOT NULL,
	[RouteName] [nvarchar](100) NULL,
	[Price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 02/04/2026 1:59:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[RouteID] [int] NULL,
	[IssueDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Routes] ON 

INSERT [dbo].[Routes] ([RouteID], [RouteName], [Price]) VALUES (1, N'Bến Thành - Suối Tiên', 15000)
INSERT [dbo].[Routes] ([RouteID], [RouteName], [Price]) VALUES (2, N'Bến Thành - An Phú', 12000)
INSERT [dbo].[Routes] ([RouteID], [RouteName], [Price]) VALUES (3, N'Bến Thành - Thảo Điền', 10000)
SET IDENTITY_INSERT [dbo].[Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([TicketID], [RouteID], [IssueDate], [PaymentMethod], [Status]) VALUES (1, 3, CAST(N'2026-04-02T12:26:57.693' AS DateTime), N'E-Wallet', N'Paid')
INSERT [dbo].[Tickets] ([TicketID], [RouteID], [IssueDate], [PaymentMethod], [Status]) VALUES (2, 1, CAST(N'2026-04-02T12:27:39.253' AS DateTime), N'E-Wallet', N'Paid')
INSERT [dbo].[Tickets] ([TicketID], [RouteID], [IssueDate], [PaymentMethod], [Status]) VALUES (3, 1, CAST(N'2026-04-02T12:28:05.150' AS DateTime), N'E-Wallet', N'Paid')
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
USE [master]
GO
